# Package Files #
*.jar
*.war
*.ear
*.class

### Gradle ###
.gradle/
/build/
/out/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws

### Node files ###
node_modules/
devops/tmp.cf.manifest.yml
patch.diff
